* {
    box-sizing: border-box;
}

body {
    margin: 0 245px;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    min-width: 1110px;

}

header {}

.color_rec {
    width: 705px;
    height: 826px;
}

.header_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 51px;
    margin-bottom: 186px;

}

.nav {
    margin-right: 176px;
}

.nav_item {
    color: #000;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.3px;
    margin-right: 45px;
}

.nav_item:hover {
    color: #6E9C9F;
}

.logo {}

.header_contacts {
    display: flex;
    align-items: center;
}

.phone_img {
    display: block;
    padding: 10px;
}

.slider {
    display: flex;
    align-items: center;

    width: 100%;
}

.left_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: flex-start;
    height: 100%;

}

h1 {
    margin: 0;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 1.1px;
}

h5 {
    text-align: right;
    align-self: flex-end;

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.4px;
}

.main_button {
    background: #6E9C9F;
    color: white;
    padding: 22px 30px;
    text-decoration: none;
    border: none;
    align-self: flex-end;
    cursor: pointer;
}

h4 {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0.8px;
}

.collection_cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    text-align: center;
}